hr {
  margin: 15px 0;
}

/* The Modal (background) */
.chromez-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

/* Modal Content */
.chromez-modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: #222;
  border: 1px solid #333;
  color: #ddd;
}

.chromez-modal-content-header {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.chromez-modal-content-header h2 {
  flex-grow: 1;
}

/* The Close Button */
.chromez-modal-close {
  color: #ddd;
  font-size: 30px;
  font-weight: bold;
  border-radius: 50%;
  width: 50px;
}

.chromez-modal-close:hover,
.chromez-modal-close:focus {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.6;
}

.chromez-modal-content-body {
  padding: 8px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
